.topHeader{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
        
    .headertop-container{
        position: relative;
        top: 2px;
        left: 7%;
        width: 40vw;
        margin: auto;
        text-align: center;
        padding: 8px 10px;
        .img{
            text-align: center;
            height:22px;
        }
    }
}
