

.footer-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;

    .footer-logo{
        display:flex;
        justify-content: center;
        align-items: center;
       

        img{
            max-height:20px ;
        }
    
        p{
            padding:10px 5px;
            text-align: center;
        }
    }

    ul{
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
            
        li{
            padding: 0 5px;

            .logo8{
                height: 20px;
            }
        }

    }
}